export SECRET=PEDsiM2voIkraYdkcc3-mIEh06okLQNFaZMNDvRpzMTFi6rxzdDxWXQ3xzFdzsEJkFq8fgaz9v7isc47
export HONEYBADGER_API_KEY=9f44bc60
export NEW_RELIC_APP_NAME=boundless-production
export NEW_RELIC_ID=103840
export NEW_RELIC_LICENSE_KEY=c82006e18a4374c30ade85c69e0389aa06d6db3d
export SLACK_URL=https://hooks.slack.com/services/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
export HEROKU_APP=boundless-bownse